source_env_if_exists .local.env
source_env testing/v8serialize-echo

# Defines the echoservers tested in test/test_round_trip_with_v8.py
V8SERIALIZE_ECHOSERVERS=$(./scripts/list-echoservers.sh)
export V8SERIALIZE_ECHOSERVERS
