#!/usr/bin/env bash

version=$(
  grep -P --only-matching \
    '(?<=ECHOSERVER_VERSION = ")(\d+\.\d+\.\d+[\w-]*)(?=")' \
    main.ts
)

if [[ ! ${version?} ]]; then
  echo "Error: Failed to read ECHOSERVER_VERSION constant from main.ts" >&2
  exit 1
fi

export ECHOSERVER_VERSION=${version:?}
